* {
    box-sizing: border-box;
}
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    background: #fff;
    height: 100%;
    margin: 0;
}