* {
    box-sizing: border-box;
}
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    background: #FFF;
    height: 100%;
    margin: 0;
}

.title {
    transform: translate(20%, 100%);
    width: 70%;
    height: auto;
}
.box {
    padding: 10px;
    background-color: #F9F9F9;
    width: 70%;
    height: auto;
    transform: translate(20%, 50px);
    box-shadow: 2px 2px #312f2f9c;
}

