
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    background: #FFF;
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 25px;
}
.title{
    flex: 2;
    order: 1;
    text-align: center;
}
.leftAlign{
    display: inline-block;
    text-align: left;
}
.leftAlign h5{
    color: #b33f62;
    font-weight: bold;
    margin-bottom: 0;
}

.leftAlign h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

.leftAlign h4{
    color: #7f7f7f;
}


.titleImg {
    flex: 2;
    order: 2;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);

}
hr{
    width: 50%;
    margin-top: 0;
}

@media screen and (max-width: 1300px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 0;
        transform: translateY(-50%);
    }
    .title{
        order: 2;
    }
    .titleImg {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        order: 1;
        margin-top: 0;
        height: auto;
       
    }
    
}
@media screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 0;
        transform: translateY(-15%);
    }
    .title{
        order: 2;
    }
    .titleImg {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        order: 1;
        margin-top: 0;
        height: auto;
       
    }
    
}


